---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentCard from '../components/ContentCard.astro';
import { composeArticleLink } from '../lib/composeArticleLink';
import { getCollection, getEntry } from 'astro:content';
import EnvelopeIcon from '../assets/icons/envelope.svg';
import GitHubIcon from '../assets/icons/github.svg';
import LinkedInIcon from '../assets/icons/linkedin.svg';
import MediumIcon from '../assets/icons/medium.svg';

const comp = await getEntry('comps', 'welcome');
const articles = await getCollection('articles');
const author = await getEntry('comps', 'author');

if (!articles || !comp || !author) {
  throw new Error('Article or comp not found');
}

const { title: compTitle, subtitle: compSubtitle, primaryDescription: compPrimaryDescription } = comp.data;
const { primaryDescription: authorPrimaryDescription } = author.data;
---

<BaseLayout title="Radial Architecture">
  <div class="card-container">
    <ContentCard title={compTitle} subtitle={compSubtitle} description={compPrimaryDescription} />
    <hr class="divider" />
    <ContentCard title="Articles" />
    <div class="articles">
      {
        articles
          .reverse()
          .map(article =>
            article.data.listed ? (
              <ContentCard
                title={article.data.title}
                href={composeArticleLink(article.data.slug)}
                description={article.data.primaryDescription}
                primaryImage={article.data.primaryImage}
              />
            ) : null
          )
      }
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-content-container">
      <ContentCard title="About the author" description={authorPrimaryDescription} />
      <div class="footer-content">
        <a class="social-link" href="https://www.linkedin.com/in/tonympdx/"><LinkedInIcon /></a>
        <a class="social-link" href="https://github.com/tonym"><GitHubIcon /></a>
        <a class="social-link" href="https://medium.com/@tony.m.pdx"><MediumIcon /></a>
        <a class="social-link" href="mailto:tony+radial@fbpllc.com?subject=Radial%20Architecture"><EnvelopeIcon /></a>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--space-5-5) var(--space-3);
  }

  .divider {
    border-top: 1px solid var(--color-weak);
    margin: var(--space-3) 0;
    width: 100%;
  }

  .social-link {
    opacity: 0.7;
    width: var(--space-3-5);
    height: var(--space-3-5);
  }

  .big-title :global(h2) {
    font-size: var(--space-6) !important;
    margin-bottom: var(--space-3);
  }

  .footer-container {
    background-color: var(--color-bg-secondary);
    margin-top: calc(var(--space-6) * 1.5);
    padding-top: var(--space-3);
    padding-bottom: calc(var(--space-6) * 3);
    width: 100%;
  }

  .footer-content {
    display: flex;
    gap: var(--space-1);
    margin-top: -12px;
    padding: 0.25rem;
  }

  .footer-content-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 980px;
    margin: auto;
    padding: calc(var(--space-1) * 2) var(--space-3);
  }
</style>
