---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentCard from '../components/ContentCard.astro';
import { composeArticleLink } from '../lib/composeArticleLink';
import { getEntry, render } from 'astro:content';

const comp = await getEntry('comps', 'welcome');
const article = await getEntry('articles', 'radial-architecture');
const author = await getEntry('comps', 'author');

if (!article || !comp || !author) {
  throw new Error('Article or comp not found');
}

const { title: articleTitle, primaryDescription: articlePrimaryDescription, primaryImage: articlePrimaryImage } = article.data;
const { title: compTitle, primaryDescription: compPrimaryDescription } = comp.data;
const { primaryDescription: authorPrimaryDescription } = author.data;

const articleHref = composeArticleLink(article.data.slug);
---

<BaseLayout title="Radial Architecture">
  <div class="card-container">
    <ContentCard title={compTitle} description={compPrimaryDescription} />
    <ContentCard title="Articles" />
    <ContentCard title={articleTitle} href={articleHref} description={articlePrimaryDescription} primaryImage={articlePrimaryImage} />
  </div>
  <div class="footer-container">
    <div class="footer-content-container">
      <ContentCard title="About the author" description={authorPrimaryDescription} />
      <div class="footer-content prose">
        <p></p>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(var(--space-1) * 2) var(--space-3);
  }

  .big-title :global(h2) {
    font-size: 4rem !important;
    margin-bottom: var(--space-3);
  }

  .footer-container {
    background-color: var(--color-bg-secondary);
    margin-top: calc(var(--space-6) * 1.5);
    padding-top: var(--space-3);
    padding-bottom: calc(var(--space-6) * 3);
    width: 100%;
  }

  .footer-content {
    margin-top: -32px;
  }

  .footer-content-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 980px;
    margin: auto;
    padding: calc(var(--space-1) * 2) var(--space-3);
  }
</style>
